{% extends "base.html" %}

{% block head_title %}
{{ title }}
{% endblock head_title %}


{% block main_contents %}
<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <h4 class="mb-3">{{ content }}</h4>
            <form method="POST"> {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-6  order-md-2">Hi</div>
    </div>
</div>
{% endblock main_contents %}